* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0A2C5C, #061C3C);
}

.login-form {
    width: 340px;
    background: whitesmoke;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.login-form h4 {
    background: rgba(242,155,56,.386);
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

.login-form h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.login-form p {
    margin-bottom: 18px;
    color: #555;
}

.login-form label {
    margin-bottom: 6px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.login-form input {
    height: 40px;
    border: none;
    border-radius: 15px;
    background: rgba(255,174,0,.2);
    padding: 0 15px;
    outline: none;
}

.login-form button {
    margin-top: 20px;
    height: 42px;
    border: none;
    border-radius: 15px;
    background: rgb(255,174,0);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-form button:hover {
    transform: translateY(-2px);
    transition: .2s;
}

.admin-text {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
